/*
1. Posicionamiento --> static, absolute, relative, fixed
2. Modelo de caja (Box model) --> margin, border, padding, content
3. Tipografía --> tipos, tamaños de fuente, etc
4. Estilos visuales --> box-shadow, border-radius, gradient, etc
5. Otros --> reglas CSS y más
*/

:root {
    /* Colores */
    --bitcoin-orange: #f7931a;
    --soft-orange: #ffe9d5;
    --secondary-blue: #1a9af7;
    --soft-blue: #e7f5ff;
    --warm-black: #282623;
    --black: #201e1c;
    --grey: #bababa;
    --off-white: #faf8f7;
    --just-white: #fff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: "DM Sans", sans-serif;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
}

/*Header Section*/
header {
    position: relative; /* TODO: ver que pasa al eliminar */
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 324px;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}

header img {
    width: 150px;
    height: 24px;
    margin-top: 60px;
    align-self: center;
}

.header__title-container {
    width: 90%; /*quitar para probar*/
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 40px;
    text-align: center;
    align-self: center;
}

.header__title-container h1 {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}

.header__title-container p {
    margin-top: 25px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--soft-orange);
}

.header__title-container .header__button {
    position: absolute;
    left: calc(50% - 118px);
    top: 270px;
    display: block;
    margin-top: 35px;
    padding: 15px;
    width: 229px;
    height: 48px;
    background-color: var(--off-white);

    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--black);

    /*  Sombra  */
    box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
}

.header__button span {
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url("./assets/icons/down-arrow.svg");
}

/*Main Section*/

main {
    width: 100%;
    height: 100%;
    background-color: var(--off-white);
}

.main-exchange-container {
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;
}

.main-exchange-container__title {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
}

.main-exchange-container__title p {
    margin: 15px 0;
}

.main-exchange-container .main-exchange-container__background {
    width: 288px;
    height: 200px;
    margin: 0 auto;
    background: url("./assets/img/Bitcoin.svg") center/cover no-repeat;
}

.icon__trending-down {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background: url("./assets/icons/trending-down.svg") center/cover no-repeat;
}

.icon__trending-up {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background: url("./assets/icons/trending-up.svg") center/cover no-repeat;
}

.main-currency-table {
    width: 70%;
    min-width: 235px;
    max-width: 700px;
    height: 360px;
    font-family: "Inter", sans-serif;
    margin: 0 auto;
}

.main-currency-table .currency-table__title {
    margin-top: 28px;
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    color: var(--bitcoin-orange);
}

.main-currency-table__container {
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 0 auto
}

.main-currency-table__container table {
    width: 100%;
    height: 100%;
}

.main-currency-table__container td {
    width: 50%;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: var(--grey);
    background-color: var(--just-white);
}

.main-currency-table__container .table--top-left {
    border-radius: 15px 0 0 0;
}

.main-currency-table__container .table--top_right {
    border-radius: 0 15px 0 0;
}

.main-currency-table__container .table--bottom-left {
    border-radius: 0 0 0 15px;
}

.main-currency-table__container .table--bottom_right {
    border-radius: 0 0 15px 0;
}

.main-currency-table__container .table--right {
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.7rem;
    color: #757575;
}

.currency-table__date {
    width: max-content;
    height: 30px;
    margin: 15px auto 0;
    padding: 8px;
    background-color: var(--soft-orange);
    border-radius: 8px;
}

.currency-table__date p {
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: var(--warm-black);
}

.main-product-detail {
    position: relative;
    height: auto;
    width: 100%;
    min-width: 320px;
    padding: 20px 10px;
    background-color: var(--warm-black);
}

.producto-detail__batata-logo {
    position: absolute;
    width: 40px;
    height: 25px;
    background-image: url("./assets/icons/batata.svg");
    top: -10px;
    left: calc(50% - 20px);
}

.product-detail__title {
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 50px auto 0;
    text-align: center;
}

.product-detail__title h2 {
    margin-bottom: 20px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}

.product-detail__title p {
    margin-bottom: 20px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}

.product-detail__card {
    width: 90%;
    min-width: 288px;
    max-width: 400px;
    min-height: 150px; /* Minimo, porque al colocar estatico se limita */
    margin: 15px auto;
    padding: 10px;
    background-color: var(--black);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);;
}

/* TODO: simplificar estilos para los iconos del seccion de detalles de producto */
.product-detail__card .clock {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-image: url("./assets/icons/clock.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.product-detail__card .eye {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-image: url("./assets/icons/eye.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.product-detail__card .dollar-sign {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-image: url("./assets/icons/dollar-sign.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.product-detail__card .check {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-image: url("./assets/icons/check-circle.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.product__card-title {
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.8;
    color: var(--just-white);
}

.product__card-body {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}

.bitcoin-img-container {
    width: 100%;
    min-width: 320px;
    height: 50vh;
    background-image: url("./assets/img/bitcoinbaby2x.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

.bitcoin-img-container h2 {
    padding-top: 60px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}

.main-plans-container {
    width: 100%;
    min-width: 320px;
    padding-bottom: 70px;
    text-align: center;
}

.main-plans-container .plans__title {
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto 50px;
}

.main-plans-container .plans__title h2 {
    padding-top: 50px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black);
}

.main-plans-container .plans__title p {
    padding-top: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #757575;
}

.plans-container__slider {
    display: flex;
    height: 316px;
    /* Comportamiento del scroll */
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}

.plans-container__card {
    position: relative;
    /* Alinea el scroll al centro */
    scroll-snap-align: center;
    width: 70%;
    min-width: 190px;
    max-width: 300px;
    height: 250px;
    margin: 50px 5px 0;
    background: var(--just-white);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
}

.plans-container__card .recommended {
    position: absolute;
    top: -15px;
    left: calc(50% - 60px);
    font-size: 1.2rem;
    width: 120px;
    height: 31px;
    padding: 6px;
    color: var(--just-white);
    border-radius: 8px;
}

.plans-container__card .recommended--orange {
    background: var(--bitcoin-orange);
}

.plans-container__card .recommended--blue {
    background: var(--secondary-blue);
}

.plans-container__card .recommended--gray {
    background: var(--grey);
}

.plan-info-container {
    padding-top: 25px;
}

.plan-info-container .plan-card__title {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: black;
}

.plan-info-container .plan-card__price {
    padding: 5px 0;
    font-size: 5.2rem;
    font-weight: bold;
    color: black;
}

.plan-info-container .plan-card__price sup {
    font-size: 1.2rem;
    font-weight: 300;
}

.plan-info-container .plan-card__saving {
    font-size: 1.2rem;
    color: #757575;

}

.plan-info-container .plan-card__ca {
    width: 150px;
    height: 48px;
    margin-top: 20px;
    background-color: var(--off-white);
    border: 3px solid var(--bitcoin-orange);
    border-radius: 4px;
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: bold;
    font-family: inherit;
    color: var(--black);
}

.plan-info-container .plan-card__ca span {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("./assets/icons/orange-right-arrow.svg");
    vertical-align: text-bottom;
<!-- Para alinear el icono con el texto -->
}

footer {
    display: flex;
    width: 100%;
    height: 150px;
    background-color: var(--bitcoin-orange);
}

footer section {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .external-links ul {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    list-style: none;
}

footer .external-links li {
    margin: 10px 0;
}

footer .external-links a {
    text-decoration: none;
    color: var(--just-white);
}



